
  
    .testimonial-row{
width: 80%;
margin: auto;
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
    }

.testimonial-column{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor: pointer;
    transition: transform 0.5s;

}
.testimonial-column p{
    font-size: 14px;
}
.user{
   display: flex; 
   align-items: center;
   margin: 20px 0;
}
.user img{
    width: 40px;
border-radius: 3px;
    margin-right: 20px
}
.user-info .fab{
    margin-left: 10px;
    color:#27c0ff
}
.user-info small{
    color: #009688;
}
.testimonial-column:hover{
    transform: translateY(7px);
} 
@media screen and (max-width:770px) {
    .testimonial-column{
        flex-basis: 100%;
    }
}